<h1>Editing favor item</h1>

<%= render "form", favor_item: @favor_item %>

<br>

<div>
  <%= link_to "Show this favor item", @favor_item %> |
  <%= link_to "Back to favor items", favor_items_path %>
</div>
